<div class="container" *ngIf="addTweetFlag==true" [@slideInOut]>
    <div class="col-md-6 col-md-offset-3 loginBox">

        <form class="add-tweet-window">
            <div class="form-group clearfix">

                <div class="col-md-9 col-sm-7 col-xs-12">
                    <textarea #mytextarea class="form-control" placeholder="Co się dzieje:" formcontrolname="content"
                        [(ngModel)]="content" type="text" [ngModelOptions]="{standalone: true}" autofocus></textarea>
                </div>
                <div class="file-upload">
                    <input class="file-upload-input" type="file" [(ngModel)]="file"
                        [ngModelOptions]="{standalone: true}">
                </div>

            </div>
            <div class="addTweet">
                <button class="btn btn-info" type="button" (click)="addNewTweet()">tweet</button>
            </div>

        </form>
    </div>
</div>

<script>  </script>