<div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group form-check">
            <label>Imię: </label>
            <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" autocomplete="imię" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">Imię jest wymagane</div>
            </div>
        </div>

        <div class="form-group form-check ">
            <label>Nazwisko: </label>
            <input type="text" formControlName="surname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['surname'].errors }" autocomplete="nazwisko" />
            <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
                <div *ngIf="f['surname'].errors['required']">Nazwisko jest wymagane</div>
            </div>
        </div>

        <div class="form-group form-check">
            <label>Nazwa użytkownika: </label>
            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" autocomplete="nazwa użytkownika" />
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">Nazwa użytkownika jest wymagana</div>
                <div *ngIf="f['username'].errors['minlength']">
                    Nazwa użytkownika musi mieć min 6 znaków
                </div>
                <div *ngIf="f['username'].errors['maxlength']">
                    Username must not exceed 20 characters
                </div>
            </div>
        </div>

        <div class="form-group form-check">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']" autocomplete="off">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
        </div>

        <div class="form-group form-check">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" autocomplete="off" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">
                    Password must be at least 6 characters
                </div>
                <div *ngIf="f['password'].errors['maxlength']">
                    Username must not exceed 40 characters
                </div>
            </div>
        </div>

        <div class="form-group form-check">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" autocomplete="off" />
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">
                    Confirm Password is required
                </div>
                <div *ngIf="f['confirmPassword'].errors['matching']">
                    Confirm Password does not match
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary" style="color: aliceblue;">Register</button>
            <button type="button" (click)="cancel()" class="btn btn-outline-info float-right"
                style="color: aliceblue;">Cancel</button>
        </div>
    </form>
</div>