.saveCancel {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
   margin-left: 20px;
   padding-left: 10px;
   .cancel {
       margin-left: 50px;
   }
}

p {
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }
  
  .register-form {
    background-image: url('https://sm.ign.com/t/ign_pl/screenshot/default/10-twitter-tools-for-your-consideration-in-2014jpg-19be1e128_tmbx.1280.jpg');
    margin-bottom: -400px;
    margin-left: -300px;
    width: 1000px;
    form {
      width: 350px;
    }

    height: 800px;

  }

  .btn {
      margin-top: 25px;
      margin-left: 25px;
  }
  