<div class="container">

    <button type="button" class="user-icon-btn">K</button>
    <div class="user-data-edit">

    </div>

    <div class="user-data">
        <div class="user-name-surname">
            <h2> {{name}} {{surname}}</h2>
        </div>
        <div class="username">
            @{{username}}
        </div>
        <div class="user-joined">
            Joined: {{joined}}
        </div>
        <div class="user-follow">
            <div class="user-following">
                Following: {{following}}
            </div>
            <div class="user-followers">
                Followers: {{followers}}
            </div>
        </div>
    </div>
</div>