.container {
    margin-bottom: -400px;
    margin-left: -300px;
    width: 1000px;
    height: 800px;
    color: white;
    background-image: url('https://sm.ign.com/t/ign_pl/screenshot/default/10-twitter-tools-for-your-consideration-in-2014jpg-19be1e128_tmbx.1280.jpg');
}

#message {
    color: red;

}

