<div #container class="user-container">



    <div class="user-icon">
        <button type="button" class="user-icon-btn">{{ userNameIcon}}</button>
    </div>


    <div class="user-content">

        <div class="user-info">

            <div class="user-name">
                {{name}}&nbsp;{{surname}}
            </div>
        </div>
        <div class="user-login">
            @{{username}}
        </div>
    </div>


    <div class="follow-container">
        <button class="btn btn-info" (click)="follow()">Follow</button>
    </div>





    <div class="empty">

    </div>

</div>